<h1>Restaurants</h1>

<% @restaurants.each do |restaurant| %>
  <p><%= link_to restaurant.name, restaurant_path(restaurant) %><%= restaurant.phone_number %></p>
  <p><%= restaurant.address %></p>
  <p><%= restaurant.category %></p>
<% end %>
